@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Stylish&display=swap');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$font-header : 'Rubik Mono One', sans-serif;
$font-prymary: 'Stylish', sans-serif;
